<!doctype html>
<html lang="en">

<head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <meta name="Description" content="Oisin Cummings, Content: A dictionary to convert maori words to english.">
</head>

<body>
<div id="container">

    <header>
        <h1>{% block heading %}{% endblock %}</h1>
    </header>

    <nav>
        <input type="checkbox" name="drop_down_menu"/>
        <ul>
            <li><a href="/">Home</a></li>

            {% if not logged_in %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            {% else %}
                <li><a href="/logout">Logout</a></li>
            {% endif %}
            <!--
    `       will show login and signup if the user is not logged in. if the user is logged in will show logout
             -->

            {% if teacher %}
                <p4>_____________________</p4>
                <br>
                <br>
                <li><a href="/add_word">Add Word</a></li>
                <!--
                will not show the add word link until the user is on a teacher account
                -->
            {% endif %}

            <p4>_____________________</p4>
            <br>
            <br>

            {% for category in categories %}
                <li><a href="/category/{{ category[0] }}">{{ category[1] }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>


    <footer>
        <p>
            &copy;Oisin Cummings 2022
        </p>
    </footer>

</div>
</body>
</html>
