{% extends "base.html" %}

{% block title %}Maōri Dictionary | Login{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block pageheading %}
    login
{% endblock %}

{% block main %}
<form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">
            Email
        </div>
        <div class="form-element">
            <input type="email" id="email" name="email" required>
        </div>
    </div>
        <!--
        displays the email textbox where the user would enter the email of their account
        -->
    <div class="form-group">
        <div class="form-label">
            Password
        </div>
        <div class="form-element">
            <input type="password" id="password" name="password" required>
        </div>
    </div>
        <!--
        displays the password textbox for the user to enter their password
        -->
    <div class="form-group">
        <div class="form-label">

        </div>
        <div class="form-element">
            <input type="submit" name="login">
        </div>
    </div>
        <!--
        code for submit button
        -->

</form>
{% endblock %}