{% extends "base.html" %}

{% block title %}Maōri Dictionary | Signup{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block pageheading %}
    signup
{% endblock %}

{% block main %}
<form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">
            First Name
        </div>
        <div class="form-element">
            <input type="text" id="fname" name="fname" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            Last Name
        </div>
        <div class="form-element">
            <input type="text" id="lname" name="lname" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            Email
        </div>
        <div class="form-element">
            <input type="email" id="email" name="email" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            Password
        </div>
        <div class="form-element">
            <input type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            Repeat Password
        </div>
        <div class="form-element">
            <input type="password" id="password2" name="password2" required>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label">
            Are you a teacher?
        </div>
        <div class="form-element">
            <input type="checkbox" id="teacher" name="teacher" value=1>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label">

        </div>
        <div class="form-element">
            <input type="submit" name="login">
        </div>
    </div>

</form>
{% endblock %}